header{
    width: 1000px;
    height: 50px;
    background-color: aliceblue;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    box-sizing: border-box;
    

}
